{
  "presets": [
    [
      "@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    [
      "shebang",
      {
        "replacement": "#!/usr/bin/env node",
        "force": true
      }
    ]
  ],
  "ignore": [
    "**/*.test.js"
  ]
}
